* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
    font-family: 'Mitr', sans-serif;
    font-size: 20px;

  @media (max-width: 1560px) , (max-height: 960px) {
      font-size: 18px; 
}
  @media (max-width: 1440px) {
    font-size: 16px;
}
@media (max-width: 1024px) {
  font-size: 14px;
}

  }


  body {
      height: 100vh;
  }

  h1 {
    font-size: 3rem;
    font-family: 'Special Elite', cursive;
    @media (max-width: 1024px) {
      font-size: 2rem;
    }
}

h2 {
  font-size: 2rem;
  font-family: 'Special Elite', cursive;
}

h4, h3, p {
  font-family: 'Play', sans-serif;
}

a {
  color: rgba(236, 12, 12, 0.897);
}

  nav {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 3rem 3rem;
    justify-content: space-between;

    .navdesctopPanel {
      display: flex;
      width: 60%;
      flex-direction: row;
      justify-content: space-around;

      @media (max-width: 700px) {
      display: none;
      }
    }
    @media (max-width: 700px) {
      padding: 1rem 1rem;
    }

    a {
        box-sizing: border-box;
        font-size: 1.1rem;
        font-weight: 200;
        text-decoration: none;
        transition: 0.6s;
        color: white;

        &:hover {
        color: #fa0b0b;
    } 
    }
    .button {
      display: flex;
      padding: 0.5rem;
      -webkit-transition: 1.2s;
      transition: 1.2s;
      height: 2rem;
      align-items: center;
      justify-content: center;
      align-content: center;
      &:hover {
      background: linear-gradient(to left bottom, rgba(176, 214, 245, 0.384) 30%, rgba(207, 154, 165, 0.171) 80%);
      border: 2px solid rgba(34, 34, 34, 0);
      box-sizing:border-box;
      border-radius: 0.5rem;
    }
    &:after{
      transition: 0.9s;
    }}
  }
  
  .headerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    justify-content: center;
    height: 100vh;
  }
  .container img {
    width: 100%;
    position: absolute;
    height: 110vh;
    object-fit: cover;
    z-index: -1;
  }
  .sub {
    max-height: 50vh;
    max-width: 50vh;
    margin-top: 65vh;
    margin-right: 100vh;

    @media (max-width: 1560px) and (max-height: 960px) {
      max-height: 45vh;
      max-width: 45vh;
      }
      @media (max-width: 1440px) {
        max-height: 40vh;
        max-width: 40vh;
        margin-top: 70vh;
      }
      @media (max-width: 1024px) {
        max-height: 35vh;
        max-width: 35vh;
        margin-top: 75vh;
      }
      @media (max-width: 700px) {
        max-height: 25vh;
        max-width: 25vh;
        margin-top: 75vh;
      }
  }
  .sub2 {
    margin-left: 80%;
    bottom: 25%;
    max-height: 30vh;
    max-width: 30vh;
  @media (max-width: 1560px) and (max-height: 960px) {
    max-height: 25vh;
    max-width: 25vh;
  }
  @media (max-width: 1440px) {
    max-height: 25vh;
    max-width: 25vh;
    bottom: 18%;
  }
  @media (max-width: 1024px) {
    max-height: 20vh;
    max-width: 20vh;
    bottom: 15%;
  }
  @media (max-width: 700px) {
    max-height: 15vh;
    max-width: 15vh;
    bottom: 15%;
    margin-left: 60%;
  }
  }
  .estrada {
    margin-left: 72%;
    bottom: 0;
    max-height: 25vh;
    max-width: 25vh;

    @media (max-width: 1560px) and (max-height: 960px) {
      max-height: 20vh;
      max-width: 20vh;
      margin-left: 74%;
  }
  @media (max-width: 1440px) {
    max-height: 17vh;
    max-width: 17vh;
  }
  @media (max-width: 1024px) {
    max-height: 15vh;
    max-width: 15vh;
  }
  @media (max-width: 700px) {
    max-height: 12vh;
    max-width: 12vh;
    margin-left: 50%;
    bottom: 2%;

  }
  }
  .poweramp {
    left: 85%;
    bottom: 0;
    max-height: 30vh;
    max-width: 30vh*1.4;
    @media (max-width: 1560px) and (max-height: 960px) {
      max-height: 20vh;
      max-width: 20vh*1.4;
      bottom: 7%;
  }
  @media (max-width: 1440px) {
    max-height: 17vh;
    max-width: 17*1.4vh;
    bottom: 5%;
    left: 88%;
  }
  @media (max-width: 1366px) {
    max-height: 16vh;
    max-width: 16*1.4vh;
    bottom: 4%;
    left: 87%;
  }
  @media (max-width: 1024px) {
    max-height: 15vh;
    max-width: 15vh*1.4;
  }  
  @media (max-width: 700px) {
    max-height: 18vh;
    max-width: 18vh*1.4;
    left: 70%;
    bottom: 0;
  }
}

  .redcar {
    max-height: 40vh;
    max-width: 40vh*2;
    bottom: 0;
    left: 28%;
    @media (max-width: 1560px) and (max-height: 960px) {
      max-height: 35vh;
      max-width: 35vh*2;
  }
  @media (max-width: 1440px) {
    max-height: 30vh;
    max-width: 30vh*2;
    left: 30%;
  }
  @media (max-width: 1024px) {
    max-height: 28vh;
    max-width: 28vh*2;
    left: 30%;
  }
  @media (max-width: 700px) {
    max-height: 26vh;
    max-width: 26vh*2;
    left: 0%;
    bottom: 30%;
  }
  }

  .main-title {
    max-height: 18vh;
    max-width: 18vh*3.9;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -30%);
    @media (max-width: 1440px) {
      max-height: 16vh;
      max-width: 16vh*3.9;
    }
    @media (max-width: 700px) {
      max-height: 11vh;
      max-width: 11vh*3.9;
    }
  }
  
  .content {
    width: 100%;
    background: rgb(24, 24, 24);
    min-height: 100vh;
    z-index: 2;
    position: absolute;

    @media (max-width: 700px) {
    display: flex;
    flex-direction: column;

    }
  }
  .content-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60vh;
    text-align: center;

    img {
      width: 30rem;
      height: 30rem;
    }

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
      }
  
  }
  
  .text {
    padding: 1.5rem 2rem;
    font-size: 0.7rem;
  }

  .sponsorsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

    scroll-behavior: smooth;

    a {
      text-decoration: none;
      opacity: 0.7s;
    }

    a, h4:hover {
      color: red;
    }
    @media (max-width: 700px) {
    height: auto;
    margin-bottom: 2rem;
    }
  }

  .loudsoundblock {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 3rem auto;

    @media (max-width: 700px) {
      margin: 0.1rem auto;
    }
  }

  .loudsound {
    max-width: 100%;
    padding: 3rem 20rem;

    @media (max-width: 700px) {
      padding: 1rem 1rem;
    }
  }

  .yablokoblock{
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 700px) {
      flex-direction: column;
    }
  }
  .yablokoinfo{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    }

    //VIdeoPromo and Map

    .youtube {
      @media (max-width: 700px) {
      width: auto;
      min-width: 370px;
      min-height: 250px;
      height: auto;
      }
    }
    
    //burger MENU

.burger-menu {
  display: none;
  @media (max-width: 700px) {
    display: flex;
    }
}

.burger-menu_button {
  position: fixed;
  top: 4rem;
  right: 1rem;
  z-index: 30;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #dd0925;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 50%;
  background-color: #52474f83;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_link {
  padding: 1rem 1rem;
  font-size: 2rem;
  font-family: 'Neucha', cursive;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #f8f5f5e7;
  border-bottom: 1px solid #fff;
}
.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}



